@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  color: #212121;
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

header,
main,
footer {
  display: block;
  width: 100vw;
  padding: 20px 0;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1114px;
  padding: 0 20px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  width: 100%;

  .item {
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding: 15px;
    transition: all linear 0.25s;
    width: 100%;

    &:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    }

    h2 {
      color: rebeccapurple;
      display: block;
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 15px;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      display: block;
      font-size: 16px;
      line-height: 20px;
      width: 100%;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 20px;

      a {
        color: rebeccapurple;
        font-size: 14px;
        display: block;
        margin: 0 10px;
        text-decoration: none;
      }
    }
  }

  .button-content {
    display: block;
    text-align: center;
    grid-column: 1 / -1;
  }
}

.card {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  position: relative;
  height: 400px;
  width: 300px;
  margin: 50px auto 0;

  &>div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all linear 0.4s;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }

    &.front {
      transform: rotateY(0deg);
    }

    &.back {
      color: #fff;
      text-align: center;
      background-color: orange;
      padding: 15px;
      transform: rotateY(180deg);
    }
  }

  &:hover {
    .front {
      transform: rotateY(180deg);
    }

    .back {
      transform: rotateY(0deg);
    }
  }
}